---
import Logo from '~/components/Logo.astro'

const name = 'Julien Barbay'
const job = 'Senior Frontend Engineer'
---
<header class="header">
  <hgroup>
    <h1>{name} <Logo class="logo" /></h1>
    <h2>{job}</h2>
  </hgroup>
</header>

<script>
  const qs = new URLSearchParams(window.location.search)
  const job = qs.get('job')

  if (job) document.querySelector('h2')!.textContent = job
</script>

<style>
  .header {
    grid-area: header;
    display: block;
    padding: 1em 1.5em;
    color: var(--primary);
  }

  .header h1 {
    font-family: 'Raleway', sans-serif;
  }

  .header h2 {
    font-family: 'Arapey', serif;
    font-weight: normal;
  }

  .header .logo {
    color: var(--primary);
  }

  .header:hover .logo {
    color: var(--strong);
  }

  @media screen and (min-width: 768px), print {
    .header {
      padding: 1.5em 1em;
    }
  }
</style>
